* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    width: 100%;
}

.wrapper {
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom right , rgb(40, 122, 255), purple);
    /* background-image: url(back1.avif); */
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 95%;
    width: 95%;
    background-color: white;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-container {
    height: 90%;
    width: 25%;
    background: linear-gradient(to bottom right , rgb(40, 122, 255), purple);
    border-radius: 25px;
    margin: 2vw;
    padding-top: 2vw;
    padding-left: 1.5vw;
    color: white;
}

.left-container h5 {
    font-size: 1.3vw;
    font-weight: 300;
}

.left-container h2 {
    font-size: 2.6vw;
    font-weight: 600;
    padding-top: 1.2vw;
    padding-left: 2vw;
}

.left-container h3 {
    font-size: 1vw;
    font-weight: 400;
    padding-left: 2.3vw;
}

.left-container h1 {
    font-size: 8vw;
    font-weight: 900;
    padding-left: 3vw;
}

.div1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 7vw;
    font-weight: 100;
}

.div2 {
    height: 4vw;
    width: 95%;
    background-color: white;
    border-radius: 15px;
    display: flex;
    margin-top: 2vw;
    justify-content: space-around;
    align-items: center;
}

.div2 i {
    color: rgb(59, 58, 58);
    font-size: 1.8vw;
}
.right-container {
    height: 100%;
    width: 75%;
    /* background-color: lightsalmon; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.top {
    height: 70%;
    width: 100%;
    /* margin: .7vw; */
    /* background-color: darkgreen; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 1vw;

}


.box {
    height: 65%;
    width: 22%;
    background-color: white;
    margin: .7vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* margin-top: 2vw; */
}

.box-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1vw;
}

.box-data h3 {
    font-size: 3vw;
}

.box-data img {
    margin-top: 1vw;
}

.box-data h4 {
    font-size: 1.4vw;
    font-weight: 500;
}

.box-data h6 {
    font-size: 1.2vw;
    font-weight: 500;
}

.box-data h2 {
    font-size: 1.5vw;
    font-weight: 700;
    margin: .9vw;
}

.box-data h6 {
    font-size: 1.2vw;
    font-weight: 600;
}

.box-data button {
    margin: .9vw;
    height: 4vh;
    width: 7vw;
    font-size: 1vw;
    font-weight: 500;
    color: white;
    background-color: rgb(80, 163, 246);
    border: none;
    border-radius: 5px;
}

.bottom {
    height: 30%;
    width: 100%;
    /* background-color: darkred; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-box {
    height: 90%;
    width: 30%;
    background: linear-gradient(to bottom right , purple, rgb(40, 122, 255));;
    margin: 2vw .8vw;
    border-radius: 30px;
    padding: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-box-data {
    height: 100%;
    width: 60%;
    font-size: 1.3vw;
    color: white;
    margin-top: 3vw;
    padding-left: 2vw;
}

.img {
    height: 100%;
    width: 40%;
    padding-right: 3vw;
    margin-bottom: 4vw;
}

.tornado {
    margin-bottom: 7vw;
}
